@import url("https://fonts.cdnfonts.com/css/iranyekan");

:root {
  --primary-color: #39ff14;
  --Secondary-color: #30384d;
  --Secondary-light: #454c5f;
  --Secondary-dark: #1b1b1b;
  --Secondary-darker: #101010;
  --white: #fff;
  --gray1: #d9d9d9;
  --gray2: #757575;
  --gray3: #292929;
  --gift-special: #c61db5;
  --gift-gold: #ffc300;
  --gift-silver: #d9d9d9;
  --gift-bronze: #c37417;
}
body {
  font-family: "IRANYekan", sans-serif;
  background-color: var(--Secondary-darker);
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 67.64px;
  color: var(--white);
}
h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 50.73px;
  color: var(--white);
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.82px;
  color: var(--white);
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 33.82px;
  color: var(--white);
}
h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 33.82px;
  color: var(--white);
}
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: var(--white);
}
span {
  color: var(--primary-color);
}
::selection {
  background-color: var(--primary-color);
  color: var(--Secondary-darker);
}
.btn.light {
  background-color: var(--primary-color);
  color: var(--Secondary-darker);
  cursor: pointer;
  font-family: "IRANYekan", sans-serif;
  padding: 10px 40px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.btn.dark {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  font-family: "IRANYekan", sans-serif;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.radius {
  border-radius: 10px;
}
.box-secondary {
  background-color: var(--Secondary-color);
  border-radius: 10px;
  padding: 17px;
}
.box-dark {
  background-color: var(--Secondary-dark);
  border-radius: 10px;
  border: 1px solid var(--gray1);
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.flex {
  display: flex;
}
.flex-revers {
  flex-direction: row-reverse;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.flex-sb {
  justify-content: space-between;
}
.flex-ar {
  justify-content: space-around;
}
.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-grow {
  flex-grow: 1;
}
.marg-seprator {
  margin-bottom: 100px;
}
.marg2-seprator {
  margin-bottom: 50px;
}
.marg-insider {
  margin: 50px 0;
}
.marg-right {
  margin-right: 80px;
}
.mrg-rl {
  margin: 0px 40px;
}
.padd-top {
  padding-top: 80px;
}
.sm-dis {
  margin-bottom: 10px;
}
.md-dis {
  margin-bottom: 25px;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.txt-center {
  text-align: center;
}
.header__shadow {
  top: 100px;
  left: 391px;
  z-index: -1;
  user-select: none;
}
header .container-fluid {
  background-color: var(--gray3);
}
.gap {
  gap: 20px;
}
.nav__loggin button {
  margin: 25px 0;
}
.content__text {
  width: 45%;
}
.content__text p {
  padding: 35px 0;
}
.content__text p span {
  color: var(--primary-color);
}
.content__text form select {
  width: 90%;
  background-color: var(--Secondary-color);
  border: none;
  color: var(--white);
  border-radius: 10px;
  padding: 10px 10px;
  font-family: "IRANYekan", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.content__text form input.btn {
  padding: 10px 15px;
}
.content__image img.abs {
  left: -8px;
  top: 250px;
}
section.gift {
  background-color: var(--Secondary-dark);
  height: 50px;
}
.gift-cards {
  top: -60px;
  width: 100%;
}
.main__card {
  text-align: center;
  padding: 18px 0;
}
.card__icon span {
  background-color: var(--Secondary-light);
  border-radius: 100%;
  padding: 7px;
}
section.match {
  background-color: var(--Secondary-dark);
}
.section_title {
  padding: 80px 0px;
  text-align: center;
}
.dashed {
  border-bottom: 2px dashed var(--white);
  width: 80%;
  top: 30px;
}
.match__card,
.card__icon span {
  display: flex;
  z-index: 1;
}
section.banner .container-fluid {
  background-color: var(--Secondary-color);
  background-image: url(/assets/imgs/overlay.svg);
  text-align: center;
  background-size: cover;
}
.banner__info h4 span {
  color: var(--primary-color);
  font-family: "IRANYekan";
}
/* section.calc .container-fluid {
  background-color: var(--Secondary-dark);
} */
.calc__card .card__icon span {
  background-color: var(--Secondary-darker);
  margin-left: 20px;
}
.calc__info {
  top: 150px;
  background-color: var(--Secondary-dark);
}
.calc__cards {
  left: 0;
}
section.hacker.container-fluid {
  background-color: var(--Secondary-dark);
}
.aside__images .pic1 {
  z-index: 1;
  top: 46px;
}
.aside__images .pic2 {
  top: 99px;
}
.aside__table {
  color: var(--white);
  background-color: var(--Secondary-darker);
  border-radius: 10px;
  text-align: start;
}
.aside__table tr {
  border-bottom: 0.2px solid var(--white);
}
.aside__table tr:last-child {
  border: none;
}
.aside__table td:nth-child(even) {
  text-align: end;
  padding: 18px 0px;
}
